# LibreOffice
.~lock.*

# Рабочие учебные планы
*.plx

# Скомпилированные python-скрипты
*.pyc

# Сгенерированные файлы
*.txt
*.docx

# Описания курсов обучения
*.yaml

# IDE
.idea/
.vscode/

# Виртуальное окружение
venv/
